In [1]:
#WAP to find numbers which are divisible by 7 and multiples of 5, between 1500 and 2700
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [3]:
#WAP to convert temperatures to and from Celsius and Fahrenheit
temp = input("Input the  temperature you like to convert? (e.g., 45F, 102C etc.) : ")
degree = int(temp[:-1])
i_convention = temp[-1]

if i_convention.upper() == "C":
  result = int(round((9 * degree) / 5 + 32))
  o_convention = "Fahrenheit"
elif i_convention.upper() == "F":
  result = int(round((degree - 32) * 5 / 9))
  o_convention = "Celsius"
else:
  print("Input proper convention.")
  quit()
print("The temperature in", o_convention, "is", result, "degrees.")

Input the  temperature you like to convert? (e.g., 45F, 102C etc.) : 45F
The temperature in Celsius is 7 degrees.

In [4]:
#WAP to guess a number between 1 and 9
import random
target_num, guess_num = random.randint(1, 10), 0
while target_num != guess_num:
    guess_num = int(input('Guess a number between 1 and 10 until you get it right : '))
print('Well guessed!')

Guess a number between 1 and 10 until you get it right : 5
Guess a number between 1 and 10 until you get it right : 4
Guess a number between 1 and 10 until you get it right : 7
Guess a number between 1 and 10 until you get it right : 3
Guess a number between 1 and 10 until you get it right : 2
Guess a number between 1 and 10 until you get it right : 9
Well guessed!

In [11]:
#print * to ***** star program
"""
*
* *
* * *
* * * *
* * * * *
"""
for i in range(6):
    for j in range(i):
        print ('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *

In [12]:
#print revere star program in python from ***** t *
for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

* * * * *
* * * *
* * *
* *
*

In [14]:
#WAP to accept input from user and reverse it
word = input("Input a word: ")

for char in range(len(word) - 1, -1, -1):
  print(word[char])
print("\n")

Input a word: hello
o
l
l
e
h

In [17]:
#WAP to count Even and Odd number in series of numbers
num_1=(1, 2, 3, 4, 5, 6, 7, 8, 9,10)
odd_num=0
even_num=0
for n in num_1:
        if not n % 2:
    	     even_num+=1

        else:
           odd_num+=1

print("even count:",even_num)
print("Odd count",odd_num)

even count: 5
Odd count 5

In [19]:
#WAP to print each item and its corresponding data type
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12],
{"class":'V', "section":'A'}]
for i in datalist:
   print ("Type of ",i, " is ", type(item))

Type of  1452  is  <class 'dict'>
Type of  11.23  is  <class 'dict'>
Type of  (1+2j)  is  <class 'dict'>
Type of  True  is  <class 'dict'>
Type of  w3resource  is  <class 'dict'>
Type of  (0, -1)  is  <class 'dict'>
Type of  [5, 12]  is  <class 'dict'>
Type of  {'class': 'V', 'section': 'A'}  is  <class 'dict'>

In [25]:
#WAP prints all the numbers from 0 to 6 except 3 and 6
for x in range(6):
    if (x == 3 or x==6):
        continue
    print(x)

0
1
2
4
5

In [24]:
#WAP prints all the numbers from 0 to 10 skip 4 and 5
for x in range(10):
    if (x == 4 or x==5):
        continue
    print(x)

0
1
2
3
6
7
8
9

In [22]:
#Fibonaci series using while loop
x,y=0,1
while y<50:
    print(y)
    x,y = y,x+y

1
1
2
3
5
8
13
21
34

In [27]:
"""iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for multiples of five print "Buzz".
 For numbers that are multiples of three and five, print "FizzBuzz"""

for fizzbuzz in range(51):
    if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
        print("fizzbuzz")
        continue
    elif fizzbuzz % 3 == 0:
        print("fizz")
        continue
    elif fizzbuzz % 5 == 0:
        print("buzz")
        continue
    print(fizzbuzz)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz

In [28]:
lines = []
while True:
    l = input()
    if l:
        lines.append(l.upper())
    else:
        break;

for l in lines:
    print(l)

hello
world
dggfg

KeyboardInterrupt: ignored

In [30]:
#that accepts a string and calculates the number of digits and letters
s = input("Input a string")
d=l=0
for c in s:
    if c.isdigit():
        d=d+1
    elif c.isalpha():
        l=l+1
    else:
        pass
print("Letters", l)
print("Digits", d)

Input a stringhello5689
Letters 5
Digits 4

In [31]:
#WAP to vlidate password validations
import re
p= input("Input your password")
x = True
while x:
    if (len(p)<6 or len(p)>12):
        break
    elif not re.search("[a-z]",p):
        break
    elif not re.search("[0-9]",p):
        break
    elif not re.search("[A-Z]",p):
        break
    elif not re.search("[$#@]",p):
        break
    elif re.search("\s",p):
        break
    else:
        print("Valid Password")
        x=False
        break

if x:
    print("Not a Valid Password")

Input your passwordsdffd$@__&*
Not a Valid Password

In [32]:
""" find numbers between 100 and 400 (both included) where each digit of a number is an even number.
The numbers obtained should be printed in a comma-separated sequence"""
items = []
for i in range(100, 401):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0):
        items.append(s)
print( ",".join(items))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [33]:
#WAP to print D in start program
result_str="";
for row in range(0,7):
    for column in range(0,7):
        if (column == 1 or ((row == 0 or row == 6) and (column > 1 and column < 5)) or (column == 5 and row != 0 and row != 6)):
            result_str=result_str+"*"
        else:
            result_str=result_str+" "
    result_str=result_str+"\n"
print(result_str);

 ****
 *   *
 *   *
 *   *
 *   *
 *   *
 ****

In [34]:
#WAP to calculate a dog's age in dog years
h_age = int(input("Input a dog's age in human years: "))

if h_age < 0:
	print("Age must be positive number.")
	exit()
elif h_age <= 2:
	d_age = h_age * 10.5
else:
	d_age = 21 + (h_age - 2)*4

print("The dog's age in dog's years is", d_age)

Input a dog's age in human years: 5
The dog's age in dog's years is 33

In [36]:
#WAP to check whether character is vovel or not
l = input("Input a letter of the alphabet: ")

if l in ('a', 'e', 'i', 'o', 'u'):
	print("%s is a vowel." % l)
elif l == 'y':
	print("Sometimes letter y stand for vowel, sometimes stand for consonant.")
else:
	print("%s is a consonant." % l)

Input a letter of the alphabet: i
i is a vowel.

In [37]:
#WAP to sum two integers. However, if the sum is between 15 and 20 it will return 20
def sum(x, y):
    sum = x + y
    if sum in range(15, 20):
        return 20
    else:
        return sum

print(sum(10, 6))
print(sum(10, 2))
print(sum(10, 12))

20
12
22

In [38]:
#WAP to checks whether a string represents an integer or not.
text = input("Input a string: ")
text = text.strip()
if len(text) < 1:
    print("Input a valid text")
else:
    if all(text[i] in "0123456789" for i in range(len(text))):
        print("The string is an integer.")
    elif (text[0] in "+-") and \
         all(text[i] in "0123456789" for i in range(1,len(text))):
         print("The string is an integer.")
    else:
        print("The string is not an integer.")

Input a string: python
The string is not an integer.

In [40]:
#print multiplication table from 1 to 10n = int(input("Input a number: "))
n=6
for i in range(1,11):
   print(n,'x',i,'=',n*i)

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [42]:
nums=[1,2,3,4,5]
nums[1:-1]
print(nums)

[1, 2, 3, 4, 5]